<main class="index-page-content-container">
    <p class="post-location"><a href="#/">Home</a> &raquo; {{vm.subCategory}} </p>
    <div class="post-results">
        <h2 class="no-results-msg" ng-show="vm.noresults">Sorry! <br/> There are no results for "{{vm.subCategory}}"!</h2>
        <div postsgrid></div postsgrid>
    </div>
    <aside class="post-sedebar">
        <div class="aside-nav-wrapper">
            <div class="aside-bullets">
                <h4>recent comments</h4>
                <hr class="post-full-separator" />
                <ul class="aside-list">
                    <li ng-repeat="post in vm.commented"><a href="#/posts/{{post._id}}">&raquo; {{post.title}}</a></li>
                </ul>
                <div class="aside-bottom"></div>
            </div>
            <div class="aside-bullets">
                <h4>recent posts</h4>
                <hr class="post-full-separator" />
                <ul class="aside-list">
                    <li ng-repeat="post in vm.posted"><a href="#/posts/{{post._id}}">&raquo; {{post.title}}</a></li>
                </ul>
                <div class="aside-bottom"></div>
            </div>
        </div>
    </aside>
    <div class="pagination-container" ng-show="vm.showPagination">
        <p class="pagination_go_left"><a href="#/category/{{vm.subCategory}}?page={{vm.previousPage}}">&laquo;</a></p>
        <p class="pagination">
            <span ng-repeat="page in vm.pages">
                <a href="#/category/{{page.query}}?page={{page.num}}" class="{{page.selected}}">{{page.num}}</a>
            </span>
        </p>
        <p class="pagination_go_right"><a href="#/category/{{vm.subCategory}}?page={{vm.nextPage}}">&raquo;</a></p>
    </div>
</main>
