<div class="worksView">
    <p ng-click="vm.openPrev()" class="landscape-prev">previous</p>
    <div class="work-container" ng-click="vm.openNext()">
        <div class="inner-work-container fade" ng-if="vm.showWork">
            <div class="work-image" style="background-image: url({{vm.currentWork.url}});"></div>
            <div class="details">
                <h3 class="name">{{vm.currentWork.name}}</h3>
                <span class="technique">{{vm.currentWork.technique}},</span>
                <span class="year">{{vm.currentWork.year}}</span>
            </div>
        </div>
    </div>
    <p ng-click="vm.openPrev()" class="portrait-mobile-prev">previous</p>
    <p ng-click="vm.openNext()" class="next">next</p>
</div>
