<main class="post-page-content-container container">
    <p class="post-location-post"><a href="#/">Home</a> &raquo; <a href="#/category/{{vm.post.subCategory}}">{{vm.post.subCategory}}</a> &raquo; {{vm.post.title}}</p>
    <article class="post-and-comments">
        <div class="post-full-content">
            <div class="post-full-attributes-contents">
                <div class="post-full-image">
                    <img class="post-image" src="{{vm.post.picture}}" alt="picture">
                </div>
                <div class="post-full-image-content">
                    <p class="post-category">
                        {{vm.post.category}}
                    </p>
                    <p class="post-date">
                        {{ vm.post.createdOn | monthFilter }}
                    </p>
                    <p class="post-date">
                        {{ vm.post.createdOn | dayFilter }}
                    </p>
                </div>
                <div class="tags">
                    <h4>tags</h4>
                    <div class="tags-contents">
                        <p class="tags-tags" ng-repeat="tag in vm.post.tags">{{tag}}</p>
                    </div>
                </div>
                <div class="related">
                    <h4>related posts</h4>
                    <ul class="related-contents">
                        <li ng-repeat="related in vm.relatedThree"> <a href="#/posts/{{related._id}}">&raquo; {{related.title}}</a> </li>
                    </ul>
                </div>
                <div class="shared">
                    <h4>share this</h4>
                    <div class="share-contents">
                        <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank"><img src="./img/twetterLogo.png" alt="twetter"></a>
                        <a href="#"><img src="./img/facebookLogo.png" alt="facebook"></a>
                        <a href="#"><img src="./img/thirdLogo.png" alt="dontknow"></a>
                        <a href="#"><img src="./img/diggLogo.png" alt="digg"></a>
                        <a href="#"><img src="./img/fifthLogo.png" alt="what"></a>
                    </div>
                </div>
            </div>
            <div class="post-full-text-contents">
                <p class="post-full-title">
                    {{vm.post.title}}
                </p>
                <p class="post-full-author">
                    POSTED BY {{vm.post.authorName}} IN {{vm.post.category}} | {{vm.post.numberOfComments}} COMMENTS
                </p>
                <div class="tags-phone">
                    <p class="tags-tags" ng-repeat="tag in vm.post.tags">{{tag}}</p>
                </div>
                <hr class="post-full-separator" />
                <p class="post-full-text">
                    {{vm.post.text}}
                </p>
                <div class="share-phone">
                    <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank"><img src="./img/twetterLogo.png" alt="twetter"></a>
                    <a href="#"><img src="./img/facebookLogo.png" alt="facebook"></a>
                    <a href="#"><img src="./img/thirdLogo.png" alt="dontknow"></a>
                    <a href="#"><img src="./img/diggLogo.png" alt="digg"></a>
                    <a href="#"><img src="./img/fifthLogo.png" alt="what"></a>
                </div>
            </div>
            <div class="post-full-top"></div>
            <div class="post-full-bottom"></div>
        </div>
        <div class="post-full-comments">
            <div class="post-full-comments-content">
                <p class="post-full-title">
                    {{vm.post.numberOfComments}} comments
                </p>
                <hr class="post-full-separator" />
                <div ng-repeat="comment in vm.post.comments" ng-class="{nested: comment.nested == true}">
                    <div class="comment">
                        <div class="comment-avatar-wrapper">
                            <img class="comment-image-image" src="{{comment.avatar}}" alt="avatar">
                            <div class="comment-image-content">
                                <p class="comment-date">
                                    {{ comment.createdOn | monthFilter }}
                                </p>
                                <p class="comment-date">
                                    {{ comment.createdOn | dayFilter }}
                                </p>
                            </div>
                        </div>
                        <div class="comment-text-wrapper">
                            <p class="comment-author">{{comment.authorName}}</p>
                            <p class="comment-text">{{comment.text}}</p>
                        </div>
                        <div class="reply-btn-container">
                            <button class="reply-btn"  ng-hide="comment.nested" ng-click="vm.setParentComment($index)">reply</button>
                            <span class="reply-btn"  ng-show="comment.nested"> ^ </span>
                        </div>
                    </div>
                    <hr class="post-full-separator" />
                </div>
                <p class="post-full-title">
                    leave a comment
                </p>
                <form name="postCommentForm" class="comment-form" accept-charset="utf-8">
                    <input type="text" ng-model="comment.authorName" required="required" id="authorName" placeholder="Your name">
                    <input type="url" ng-model="comment.avatar" required="required" id="avatar" placeholder="Avatar URL">
                    <textarea ng-model="comment.text" required="required" id="text" rows="10"></textarea>
                    <div class="reply-btn-container">
                        <button class="reply-btn" ng-disabled="postCommentForm.$invalid" ng-click="vm.addComment(comment)">submit</button>
                    </div>
                </form>
            </div>
            <div class="post-full-top"></div>
            <div class="post-full-bottom"></div>
        </div>
    </article>
    <aside class="post-sedebar">
        <div class="aside-tabs">
            <a href="" class="recentHeader"><h4 class="recentHeaderHeader">recent</h4></a><a href="" class="popularHeader"><h4 class="popularHeaderHeader">popular</h4></a><a href="" class="randomHeader"><h4 class="randomHeaderHeader">random</h4></a>
            <div class="aside-tabs-recent">
                <div ng-repeat="recent in vm.recentFour" class="aside-link-to-post">
                    <!-- TODO: fix image -->
                    <img src="./img/miniAvatar.jpg" alt="">
                    <div class="aside-link-to-post-texts">
                        <a href="#/posts/{{recent._id}}"><p class="title">{{recent.title}}</p></a>
                        <p class="author">Posted by {{recent.authorName}} on {{recent.createdOn | datefilter}}</p>
                    </div>
                </div>
                <div class="aside-bottom"></div>
            </div>
            <div class="aside-tabs-popular" style="display:none;">
                <div ng-repeat="popular in vm.popularFour" class="aside-link-to-post">
                    <!-- TODO: fix image -->
                    <img src="./img/miniAvatar.jpg" alt="">
                    <div class="aside-link-to-post-texts">
                        <a href="#/posts/{{popular._id}}"><p class="title">{{popular.title}}</p></a>
                        <p class="author">Posted by {{popular.authorName}} on {{popular.createdOn | datefilter}}</p>
                    </div>
                </div>
                <div class="aside-bottom"></div>
            </div>
            <div class="aside-tabs-random" style="display:none;">
                <div ng-repeat="random in vm.randomFour" class="aside-link-to-post">
                    <!-- TODO: fix image -->
                    <img src="./img/miniAvatar.jpg" alt="">
                    <div class="aside-link-to-post-texts">
                        <a href="#/posts/{{random._id}}"><p class="title">{{random.title}}</p></a>
                        <p class="author">Posted by {{random.authorName}} on {{random.createdOn | datefilter}}</p>
                    </div>
                </div>
                <div class="aside-bottom"></div>
            </div>
        </div>
        <div class="aside-bullets">
            <h4>CUSTOM bullet WIDGET</h4>
            <hr class="post-full-separator" />
            <ul class="aside-list">
                <li ng-repeat="sub in vm.subcategories"><a href="#/category/{{sub}}?page=1">&raquo; {{sub}} </a></li>
            </ul>
            <div class="aside-bottom"></div>
        </div>
        <div class="aside-text">
            <h4>CUSTOM TEXT WIDGET</h4>
            <hr class="post-full-separator" />
            <p>Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas posuere lorem. Sed ipsum urna, facilisis quis eleifend ut, sodales sed lectus. Integer felis eu ipsum malesuada luctus. Sed pharetra eleifend ante vitae fermentum. Praesent fermentum volutpat porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dignissim, nibh quis ultricies laoreet, libero justo suscipit risus, sed sollicitudin odio erat at purus. Quisque molestie venenatis turpis eu adipiscing. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse semper aliquet odio, id blandit tortor porttitor pulvinar.</p>
            <div class="aside-bottom"></div>
        </div>
    </aside>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.recentHeader').on('click', function() {
            $('.aside-tabs-recent').css('display', 'block');
            $('.aside-tabs-popular').css('display', 'none');
            $('.aside-tabs-random').css('display', 'none');

            $('.recentHeaderHeader').css('background-color', '#e7e7e7');
            $('.popularHeaderHeader').css('background-color', '#d6d6d6');
            $('.randomHeaderHeader').css('background-color', '#d6d6d6');
        });

        $('.popularHeader').on('click', function() {
            $('.aside-tabs-recent').css('display', 'none');
            $('.aside-tabs-popular').css('display', 'block');
            $('.aside-tabs-random').css('display', 'none');

            $('.recentHeaderHeader').css('background-color', '#d6d6d6');
            $('.popularHeaderHeader').css('background-color', '#e7e7e7');
            $('.randomHeaderHeader').css('background-color', '#d6d6d6');
        });

        $('.randomHeader').on('click', function() {
            $('.aside-tabs-recent').css('display', 'none');
            $('.aside-tabs-popular').css('display', 'none');
            $('.aside-tabs-random').css('display', 'block');

            $('.recentHeaderHeader').css('background-color', '#d6d6d6');
            $('.popularHeaderHeader').css('background-color', '#d6d6d6');
            $('.randomHeaderHeader').css('background-color', '#e7e7e7');
        });
    });
    </script>
</main>
