/* general styling rules */

@import url(https://fonts.googleapis.com/css?family=Raleway:200);
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-color: #EEE;
}

a {
    text-decoration: none;
    color: black;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


/* fade animation styling */

.fade.ng-enter {
    transition: 1s linear all;
    opacity: 0;
}

.fade.ng-enter.ng-enter-active {
    opacity: 1;
}

.fade.ng-leave {
    transition: 1s linear all;
    opacity: 1;
}

.fade.ng-leave.ng-leave-active {
    opacity: 0;
}


/* styling header */

header {
    margin: 0 2%;
    border-bottom: 0.5px solid #DDD;
}

.top-header {
    padding: 30px 0 0;
    font-weight: 100;
    width: 20%;
    display: inline-block;
}

.top-header .header-name {
    display: inline-block;
    margin: 0;
    font-size: 2em;
}

.top-header .header-name .logo {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./images/logo3.png');
    height: 45px;
    width: 30px;
    margin-bottom: -12px;
}

.top-header .header-name span {
    font-weight: 900;
}


/* styling navigation */

nav {
    margin: 0;
    display: inline-block;
    position: relative;
    font-size: 1em;
    width: 79.5%;
}

nav .k-widget.k-menu-horizontal {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
}

nav .k-widget.k-menu-horizontal>.k-item {
    width: 130px;
}

nav .k-widget.k-menu-horizontal>.k-item.k-state-hover {
    background-color: #F8F8F8;
}

nav .k-widget.k-menu-horizontal>.k-item.activeMenuItem a {
    color: #F66;
    font-weight: 600;
    // padding: 1em 0.8em;
}


/* styling search */

nav .search {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-top: 8px;
    //margin-left: 13%;
    width: 13.5%;
}

nav .search .k-textbox,
.top-header .search .k-textbox {
    width: 100%;
    font-style: italic;
    font-size: 0.8em;
    background-color: transparent;
}

nav .search .k-textbox:active,
.top-header .search .k-textbox:active,
nav .search .k-textbox:hover,
.top-header .search .k-textbox:hover,
nav .search .k-textbox:focus,
.top-header .search .k-textbox:focus {
    background-color: #F8F8F8;
}

.top-header .search {
    display: none;
}


/* styling footer */

footer {
    width: 97%;
    margin: 0 1%;
    position: fixed;
    bottom: 0;
}

footer .footer-text {
    text-align: right;
    padding: 15px;
    margin: 0 1%;
    border-top: 0.5px solid #DDD;
    color: #DDD;
    font-size: 0.8em;
}


/* styling main content */

.main {
    text-align: center;
}

.main .work-container {
    margin: 15px auto 30px;
    display: inline-block;
    text-align: left;
}

.main .name {
    font-style: italic;
}


/* styling home main content */

.main .work-container.home-work-container {
    width: 95%;
    vertical-align: middle;
    text-align: center;
    margin-top: 30px;
}

.main .work-container.home-work-container .work-image {
    height: 60vh;
    width: 100%;
    display: inline-block;
}

.main .work-container.home-work-container .work-image img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    display: block;
    border: 3.5vh solid #FFF;
}

.main .work-container.home-work-container .name {
    margin: 9vh auto 0;
}


/* styling lightbox main content */

.main .worksView .work-container {
    margin: 15px auto;
    width: 68%;
    vertical-align: middle;
    cursor: pointer;
    height: 75vh;
}

.main .worksView .work-container .work-image {
    height: 60vh;
    width: 100%;
    display: inline-block;
}

.main .worksView .work-container .work-image img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  display: block;
  border: 3.5vh solid #FFF;
}

.main .worksView .work-container .inner-work-container .details {
    text-align: left;
    margin-top: 7vh;
}

@media (min-width: 1440px) {
    html .main .worksView .work-container {
        padding: 30px 60px 20px;
        height: 72vh;
        border: 0.5px solid #DDD;
        box-shadow: 0 0 10px 1px rgb(200, 200, 200);
        background-color: white;
    }

    html .main .worksView .work-container .work-image {
        height: 63vh;
    }

    html .main .worksView .work-container .work-image img {
      border: none;
    }

    html .main .work-container.home-work-container .work-image {
        height: 65vh;
    }

    html .main .worksView .work-container .inner-work-container .details {
        margin-top: 0;
    }
}

@media (min-width: 1601px) {
    html .main .worksView .work-container {
        height: 77vh;
    }

    html .main .worksView .work-container .work-image {
        height: 70vh;
    }

    html .main .work-container.home-work-container .work-image {
        height: 70vh;
    }
}

.main .worksView>p {
    vertical-align: middle;
    padding: 8px;
    margin: 15px;
    box-shadow: 0 0 5px 0.5px rgb(200, 200, 200);
    display: inline-block;
    width: 80px;
    cursor: pointer;
}

.main .worksView .work-container .inner-work-container .details {
    text-align: left;
}

.main .worksView .work-container .inner-work-container .name {
    margin: 11px 0;
}

.main .worksView .portrait-mobile-prev {
    display: none;
}


/* styling search results main content */

.no-works-message {
    font-size: 32px;
    padding-top: 115px;
}

.main .works-list-view {
    margin: 2vw;
    text-align: center;
    min-height: 66vh;
}

.main .works-list-view .inner-work-container {
    padding: 2vw;
    margin: 0.5vw;
    background-color: #BBB;
    float: left;
    cursor: pointer;
}

.main .works-list-view .work-image {
    height: 18.65vw;
    width: 18.65vw;
}

.main .works-list-view .work-image img {
  max-height: 16.65vw;
  max-width: 16.65vw;
  margin: auto;
  display: block;
  border: 1vh solid #FFF;
}

.main .works-list-view h4 {
    margin: 2px 0 15px;
}

.main .works-list-view p {
    margin: 5px 0;
}

.main .works-list-view p:last-of-type{
    margin-bottom: 0;
}


/* styling the process main content */

.process-container {
    text-align: left;
    margin: 2% 3%;
    min-height: 62vh;
}

.process-container .process-image {
    background-image: url(https://c1.staticflickr.com/3/2421/3816933687_a977ecd009.jpg);
    height: 250px;
    width: 250px;
    margin: 0 25px 25px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

.process-container .process-text {
    margin-bottom: 25px;
    line-height: 1.5em;
}


/* styling the artist main content */

.artist-container {
    text-align: left;
    margin: 2% 3%;
    max-width: 1100px;
}

.artist-container .artist-image {
    background-image: url('./images/kalina.jpg');
    height: 200px;
    width: 200px;
    margin: 0 25px 25px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

.artist-container .artist-list,
.artist-container .artist-text,
.artist-container .artist-quotation,
.artist-container .artist-quotation-source {
    line-height: 1.5em;
}

.artist-container .artist-quotation,
.artist-container .artist-quotation-source {
    margin-left: 100px;
    margin-right: 100px;
}

.artist-container .artist-quotation {
    font-style: italic;
}


.artist-container .artist-quotation-source {
    font-size: 0.9em;
    text-align: right;
}

.artist-container p:last-of-type {
    padding-bottom: 20px;
}

.artist-container .artist-list li {
    margin-bottom: 15px;
}

/* styling sandwich */
.sandwich {
    display: none;
}


// styling details view
.main .worksView.work-details .work-container {
    cursor: none;
}



@media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (orientation: landscape) and (min-device-width: 768px) and (max-device-width: 1280px),
only screen and (-o-min-device-pixel-ratio: 13/10) and (orientation: landscape) and (min-device-width: 768px) and (max-device-width: 1280px),
only screen and (min-resolution: 120dpi) and (orientation: landscape) and (min-device-width: 768px) and (max-device-width: 1280px) {
    html body {
        font-size: 14px;
        //background-color: red;
    }
    // html footer {
    //     position: static;
    // }
    html nav .search {
        display: none;
    }

    html header {
        border-bottom: 0;
    }

    html .top-header {
        width: 100%;
        border-bottom: 0.5px solid #DDD;
        padding-bottom: 10px;
    }

    // html .top-header .header-name .logo {
    //     height: 40px;
    //     width: 26px;
    // }

    html nav {
        width: 100%;
    }

    html nav .k-widget.k-menu-horizontal>.k-item {
        width: 125px;
    }

    html .top-header .header-name {
        vertical-align: middle;
        font-size: 2em;
    }
    html .top-header .search {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        width: 25%;
        float: right;
    }
    html nav .k-widget.k-menu-horizontal {
        width: 100%;
    }
    html .main .worksView .work-container {
        height: 42vw;
        width: 60%;
        padding: 0 30px 20px;
    }

    html .main .worksView .work-container .work-image {
        height: 38vw;
    }
    html .main .worksView>p {
        padding: 16px;
        width: 8%;
    }
    html .main .work-container.home-work-container {
        height: 43vw;
        margin-top: 5px;
    }
    html .main .work-container.home-work-container .work-image {
        height: 40vw;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (orientation: portrait) and (min-device-width: 600px) and (max-device-width: 1280px),
only screen and (-o-min-device-pixel-ratio: 13/10) and (orientation: portrait) and (min-device-width: 600px) and (max-device-width: 1280px),
only screen and (min-resolution: 120dpi) and (orientation: portrait) and (min-device-width: 600px) and (max-device-width: 1280px) {
    html body {
        font-size: 14px;
    }
    html footer {
        position: fixed;
        bottom: 0;
    }
    html nav .search {
        display: none;
    }
    html .top-header .header-name {
        vertical-align: middle;
        width: 60%;
        font-size: 2.5em;
    }
    html .top-header .search {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        width: 32%;
    }
    html nav .k-widget.k-menu-horizontal {
        width: 45%;
        height: 1600px;
        position: fixed;
        right: -50%;
        top: 0;
        padding-top: 60px;
        box-shadow: -5px 0 10px 0.5px rgb(50, 50, 50);
        z-index: 50;
    }
    html nav .k-widget.k-menu-horizontal.openedMenu {
        right: 0;
        transition: 1s;
    }
    html nav .k-widget.k-menu-horizontal.closedMenu {
        right: -50%;
        transition: 1s;
    }
    html nav .k-widget.k-menu-horizontal>.k-item {
        width: 100%;
    }
    /* Styling sandwich icon */
    .sandwich {
        display: block;
        position: absolute;
        width: 30px;
        height: 25px;
        top: 35px;
        right: 17px;
        cursor: pointer;
        z-index: 100;
    }
    .sandwich.open {
        position: fixed;
    }
    .sandwich.open div {
        background: none;
    }
    .sandwich.open div:before,
    .sandwich.open div:after {
        top: 0;
    }
    .sandwich.open div:before {
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .sandwich.open div:after {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .sandwich div,
    .sandwich div:before,
    .sandwich div:after {
        width: 100%;
        height: 3px;
        background: #808080;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .sandwich div {
        position: relative;
        margin: 10px auto 0;
    }
    .sandwich div:before,
    div:after {
        content: '';
        position: absolute;
    }
    .sandwich div:before {
        top: -10px;
    }
    .sandwich div:after {
        top: 10px;
    }
    html .main .worksView {
        margin-bottom: 30px;
    }
    html .main .worksView .work-container {
        width: 88%;
        height: 95vw;
        padding: 0 30px;
        margin-bottom: 0;
    }
    html .main .worksView .work-container .work-image {
        height: 80vw;
    }
    html .main .worksView>p {
        padding: 16px;
        width: 12%;
    }
    html .main .worksView .portrait-mobile-prev {
        display: inline-block;
    }
    html .main .worksView .landscape-prev {
        display: none;
    }
    html .main .work-container.home-work-container {
        width: 88%;
    }
}

@media only screen and (orientation: portrait) and (max-device-width: 599px) {
    html body {
        font-size: 14px;
    }
    html footer {
        position: static;
    }
    html nav .search {
        display: none;
    }
    html .top-header .header-name {
        vertical-align: middle;
        width: 100%;
        font-size: 2.2em;
    }
    html .top-header .search {
        display: none;
    }
    html nav .k-widget.k-menu-horizontal {
        width: 45%;
        height: 1000px;
        position: fixed;
        right: -50%;
        top: 0;
        padding-top: 60px;
        box-shadow: -5px 0 10px 0.5px rgb(50, 50, 50);
    }
    html nav .k-widget.k-menu-horizontal.openedMenu {
        right: 0;
        transition: 1s;
    }
    html nav .k-widget.k-menu-horizontal.closedMenu {
        right: -50%;
        transition: 1s;
    }
    html nav .k-widget.k-menu-horizontal>.k-item {
        width: 100%;
    }
    /* Styling sandwich icon */
    .sandwich {
        display: block;
        position: absolute;
        width: 30px;
        height: 25px;
        top: 35px;
        right: 17px;
        cursor: pointer;
        z-index: 100;
    }
    .sandwich.open {
        position: fixed;
    }
    .sandwich.open div {
        background: none;
    }
    .sandwich.open div:before,
    .sandwich.open div:after {
        top: 0;
    }
    .sandwich.open div:before {
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .sandwich.open div:after {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .sandwich div,
    .sandwich div:before,
    .sandwich div:after {
        width: 100%;
        height: 3px;
        background: #808080;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .sandwich div {
        position: relative;
        margin: 10px auto 0;
    }
    .sandwich div:before,
    div:after {
        content: '';
        position: absolute;
    }
    .sandwich div:before {
        top: -10px;
    }
    .sandwich div:after {
        top: 10px;
    }


    html .main .worksView {
        margin-bottom: 30px;
    }
    html .main .worksView .work-container {
        width: 90%;
    }
    html .main .worksView>p {
        padding: 16px;
        width: 16%;
    }
    html .main .worksView .portrait-mobile-prev {
        display: inline-block;
    }
    html .main .worksView .landscape-prev {
        display: none;
    }
    html .main .work-container.home-work-container {
        width: 88%;
    }
}

@media only screen and (orientation: landscape) and (max-device-width: 767px) {
    html body {
        font-size: 14px;
    }
    html footer {
        position: static;
    }
    html nav .search {
        display: none;
    }
    html .top-header .header-name {
        vertical-align: middle;
        width: 100%;
        font-size: 2.5em;
    }
    html .top-header .search {
        display: none;
    }
    html nav .k-widget.k-menu-horizontal {
        width: 45%;
        height: 1000px;
        position: fixed;
        right: -50%;
        top: 0;
        padding-top: 60px;
        box-shadow: -5px 0 10px 0.5px rgb(50, 50, 50);
        z-index: 50;
    }
    html nav .k-widget.k-menu-horizontal.openedMenu {
        right: 0;
        transition: 1s;
    }
    html nav .k-widget.k-menu-horizontal.closedMenu {
        right: -50%;
        transition: 1s;
    }
    html nav .k-widget.k-menu-horizontal>.k-item {
        width: 100%;
    }
    /* Styling sandwich icon */
    .sandwich {
        display: block;
        position: absolute;
        width: 30px;
        height: 25px;
        top: 35px;
        right: 17px;
        cursor: pointer;
        z-index: 100;
    }
    .sandwich.open {
        position: fixed;
    }
    .sandwich.open div {
        background: none;
    }
    .sandwich.open div:before,
    .sandwich.open div:after {
        top: 0;
    }
    .sandwich.open div:before {
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .sandwich.open div:after {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .sandwich div,
    .sandwich div:before,
    .sandwich div:after {
        width: 100%;
        height: 3px;
        background: #808080;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .sandwich div {
        position: relative;
        margin: 10px auto 0;
    }
    .sandwich div:before,
    div:after {
        content: '';
        position: absolute;
    }
    .sandwich div:before {
        top: -10px;
    }
    .sandwich div:after {
        top: 10px;
    }
    html .main .worksView {
        margin-bottom: 30px;
    }
    html .main .worksView .work-container {
        width: 80%;
        height: 95vw;
        padding: 0 30px;
    }
    html .main .worksView .work-container .work-image {
        height: 80vw;
    }
    html .main .worksView>p {
        padding: 16px;
        width: 16%;
    }
    html .main .worksView .portrait-mobile-prev {
        display: inline-block;
    }
    html .main .worksView .landscape-prev {
        display: none;
    }
    html .main .work-container.home-work-container {
        width: 88%;
    }
}
