@import url(https://fonts.googleapis.com/css?family=Raleway:200);
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.fade.ng-enter {
  transition:1s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

.fade.ng-leave {
  transition:1s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

// .clearfix:after {
//     visibility: hidden;
//     display: block;
//     font-size: 0;
//     content: " ";
//     clear: both;
//     height: 0;
// }

.header-name {
    padding: 40px 10px 30px;
    font-weight: 100;
    font-size: 36px;
    margin: 0 30px;
    border-bottom: 0.5px solid #DDD;
}

.header-name span {
    font-weight: 900;
}

nav {
    margin: 0 30px;
    display: inline-block;
    position: relative;
}

nav .k-widget.k-menu-horizontal>.k-item {
    width: 150px;
    border-bottom: 2px solid transparent;
}

nav .k-widget.k-menu-horizontal>.k-item.activeMenuItem {
    border-bottom-color: #E99;
    color: #E99;
}

.search {
    position: absolute;
    top: 125px;
    right: 30px;
}

.main {
    text-align: center;
    min-height: 720px;
}

.main .work-container {
    margin: 40px auto;
    display: inline-block;
    text-align: left;
}

.main .k-listview .work-container {
    padding-bottom: 20px;
}

.main .work-container .image {
    border: 0.5px solid #DDD;
}

.main .work-container .name {
    font-style: italic;
}

.main .k-listview {
    display: flex;
    flex-direction: column;
    border: none;
}

.main .k-listview .work-container {
    padding: 100px 100px 50px;
    margin: 50px auto 100px;
    border: 0.5px solid #DDD;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 10px 1px rgb(200, 200, 200);
}

footer {
    width: 100%
}

footer .footer-text {
    text-align: right;
    padding: 20px 10px;
    margin: 0 30px;
    border-top: 0.5px solid #DDD;
    color: #DDD;
}
